DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
DB_DATABASE=booking_platform
DB_SYNCHRONIZE=true
DB_MIGRATIONS_RUN=false

JWT_SECRET=superSecretKey
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=superRefreshSecretKey
JWT_REFRESH_EXPIRES_IN=7d
